
/.vscode
*.html
/src
/src
/target/surefire-reports
/target/maven-status/maven-compiler-plugin/compile/default-compile
/target/maven-status/maven-compiler-plugin/testCompile
/target
/src
src/.DS_Store
/.metadata/.mylyn/.taskListIndex
/src/main/java
/src/main
/src
/.metadata/.plugins
/.metadata/.mylyn
/.metadata
/src
/src/main
/src
/src/main/java
.classpath
.project
/.settings
/test-output
